.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.meal-search-bar {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}

.search-bar-button {
  width: 100%;
}

.button {
  cursor: pointer;
  outline: 0;
  font-size: 1.05rem;
}

@media screen and (min-width: 600px) {
  .meal-search-bar {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
